@model Library.Model.Circulations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Circulations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member_I.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_I.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BooksId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BooksId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issue_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issue_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expire_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expire_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Return_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
