@model IEnumerable<Library.Model.Books>
@{
    ViewBag.Title = "لیست کتابها";
}

@if (TempData["Message"] != null)
            {
    <div id="Message" class="col-md-12">
        <div class="alert alert-success text-center">
            <h2>@TempData["Message"]</h2>
        </div>
    </div>
}

<h2>لیست کتابها</h2>

<div class="row">
    <div style="margin:10px;" class="col-md-2">
        <a href="http://localhost:9099/Admin/AddBooks" class="btn btn-info btn-block">
            افزودن کتاب
        </a>
    </div>
</div>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>شماره</th>
            <th>عنوان</th>
            <th>نام نویسنده</th>
            <th>ناشر</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
            </tr>
        }
    </tbody>

</table>




