@model Library.Model.ContactUs

@{
    ViewBag.Title = "مشاهده پیام";
}

<div class="panel-heading">
    <h3 class="panel-title">مشاهده پیام</h3>
</div>
<style>
    dl dt {
        margin: 5px;
    }

    dl dd {
        margin: 5px;
    }
</style>
<div class="panel-body">

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MsgText)
            </dt>

            <dd class="text-danger">
                @Html.DisplayFor(model => model.MsgText)
            </dd>

        </dl>
    </div>
    <p>
        <span class="btn btn-primary">@Html.ActionLink("بازگشت", "Index")</span>
    </p>
</div>
   
